    .personalWrapper
   {
        columns: 2;
        display: flex;
        justify-content: space-around;
        margin-top: 3.5rem;
        margin-left: 11rem;
        margin-right: 11rem;
        gap: 3rem;
   }

   @media screen and (max-width: 960px) {
        .personalWrapper {
            columns: unset;
            display: unset;
            grid-row: auto;
        }
    }